.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
}

.bar {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.header {
    display: grid;
    gap: 2%;
    grid-template-columns: 1fr 1fr 6fr 2fr;
    background-color: #201E1F;
    align-content: center;
    top: 0;
    left: 0;
    height: 100px;
}

.header #logo {
    grid-column: 1;
    height: 75px;
}

.header #app-name {
    grid-column: 2;
    color: white;
    text-align: left;
    align-content: center;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 75px;
}

.header #logout {
    grid-column: 4;
    text-align: center;
    align-content: center;
}

.bottom {
    display: grid;
    gap: 2%;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-start: 2;
    background-color: #201E1F;
    align-content: center;
    bottom: 0;
    left: 0;
    height: 50px;
}

.bottom-item {
    color: white;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}

.bottom-item #contact {
    grid-column: 7;
}

.bottom-item #source {
    grid-column: 6;
}

.bottom-item #icons {
    grid-column: 2;
    font-size: 12px;
}

.wrapper {
    position: absolute;
    width: 67%;
    height: 67%;
    top: 16%;
    left: 16%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2%;
}

.section {
    display: grid;
    gap: 2%;
    color: white;
}

.branding {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    align-content: center;
    text-align: center;
    font-size: 30px;
}

.branding #logo {
    grid-column: 1;
    align-content: center;
    display: block;
}

.branding #app-name {
    grid-column: 2;
    align-content: center;
    text-align: left;
    color: black;
    
}

.user-form {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
    align-content: start;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: black;
}

.user-form #login-register {
    align-content: center;
    width: 300px;
}

.user-form #login-register-button {
    width: 200px;
    align-content: center;
    justify-content: center;
    font-weight: normal; 
}

p {
    text-align: left;
}

.login-register {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
}

.login-register #button {
    align-content: start;
    text-align: center;
}

.play, .profile, .create, .welcome {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    align-content: center;
    text-align: left;
    font-size: 30px;
}

.play {
    grid-row: 3;
}

.profile { 
    grid-row: 5;
}

.create {
    grid-row: 4;
}

.welcome {
    grid-row: 6;
    color: #33BA7B;
}

.quiz-info {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    align-content: center;
    background-color: #F7F6F7;
}

.quiz-info #name {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 24px;
    align-content: center;
    color: black;
}

.quiz-info #category, .quiz-info #played-games, .quiz-info #rating, .quiz-info #play, .quiz-info #reviews {
    align-content: center;
    align-self: center;
    color: white;
}

.quiz-info #category, .quiz-info #played-games, .quiz-info #rating {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    font-size: 12px;
}

.quiz-info #category {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: gray;
}

.quiz-info #played-games, .quiz-info #rating {
    grid-column: 4;
}

.quiz-info #played-games {
    grid-row: 1;
    background-color: #FFFFFF;
    color: black;
}

.quiz-info #rating {
    grid-row: 2;
    background-color: #FFFFFF;
    color: black;
}

.quiz-info #play {
    grid-column: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.quiz-info #reviews {
    grid-column: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.nav-button {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    align-content: center;
}

.nav-button #previous {
    grid-column: 2;
}

.nav-button #index {
    grid-column: 3;
}

.nav-button #next {
    grid-column: 4;
}
.nav-button #answer {
    grid-row: 6;
    grid-column: 4;
    border-color: yellow;
    border: solid;
}

.nav-button #stop {
    grid-row: 6;
    grid-column: 2;
    border-color: yellow;
    border: solid;
}

.nav-button #review {
    grid-column: 4;
}

.nav-button #browse {
    grid-column: 2;
}

.nav-button #quit {
    grid-column: 2;
}

.nav-button #create-quiz {
    grid-column: 3;
}

label {
    color: black;
}

.quiz {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
    text-align: center;
    align-content: center;
    background-color: white;
}

.quiz #question {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: #09B1EE;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    align-content: center;
    border-radius: 10px;
}

.choice {
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr 1fr 2fr;
    gap: 25px;
    padding-bottom: 20px;
    align-content: center;
    align-items: center;
}

.choice #button {
    grid-column: 1;
}

.choice #text {
    grid-column-start: 2;
    grid-column-end: 7;
    margin: 0;
    font-size: 0.7em;
}

.quiz #choice {
    grid-column-start: 2;
    grid-column-end: 5;
    align-content: center;
    height: 0.8em;
    font-size: 20px;
    padding: 20px;
    background-color: #F7F6F7;
    border-radius: 10px;
}

.quiz #answer {
    grid-column: 4;
    grid-row: 6;
}

.quiz #quit {
    grid-column: 2;
    grid-row: 6;
}

.quiz form {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.game-info {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: 1;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F7F6F7;
    border-radius: 10px;
    font-size: 30px;
    color: black;
    align-content: center;
}

.game-info #name {
    grid-column: 1;
    text-align: right;
}

.game-info #correct-answers {
    grid-column: 2;
    text-align: left;
}

.user-answer {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    color: black;
    align-content: center;
    align-items: center;
    text-align: center;
}

.user-answer #question, .user-answer #incorrect-answer, .user-answer #correct-answer {
    font-size: 16px;
    height: 45px;
    padding: 10px 15px;
    align-content: center;
    border-radius: 10px;
}

.user-answer #question {
    grid-column: 2;
    background-color: #C8EFFD;
}

.user-answer #correct-answer {
    grid-column: 3;
    background-color: #CBF1DF;
}

.user-answer #incorrect-answer {
    grid-column: 3;
    background-color: #FCD4C8;
}

.review-form {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
    align-content: center;
    justify-content: center;
    color: black;
}

.play #icon, .profile #icon, .create #icon, .welcome #icon {
    grid-column: 2;
    align-content: center;
    text-align: right;
}

.play #link, .profile #link, .create #link, .welcome #link {
    grid-column: 3;
    align-content: center;
    text-align: left;
}

.quiz-reviews {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: 1;
    background-color:#F7F6F7;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    text-align: center;
    color: black;
}

.quiz-reviews #name {
    grid-column: 2;
    font-size: 24px;
}

.quiz-reviews #creator {
    grid-column: 3;
    text-align: left;
    font-size: 16px;
    align-content: center;
}

.quiz-reviews #category {
    grid-column: 1;
    text-align: right;
    font-size: 16px;
    align-content: center;
}

.review {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-template-columns: 1fr 1fr 3fr;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    background-color: #C8EFFD;
}

.review #reviewer {
    grid-column: 1;
    color: black;
    align-content: center;
    border-radius: 10px;
}

.review #grade {
    grid-column: 2;
    color: black;
    align-content: center;
    border-radius: 10px;
}

.review #comment {
    grid-column: 3;
    color: black;
    background-color: white;
    align-content: center;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 12px;
    height: 5em;
}

.create-form {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 2fr;
    color: black;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}

.create-form #description {
    grid-column: 2;
    grid-row: 1;
    font-size: 24px;
    align-content: center;
    text-align: center;
}

.create-form #name {
    grid-column: 2;
    grid-row: 2;
    font-size: 16px;
    align-content: center;
    text-align: left;
}

.create-form #name-textarea {
    grid-column: 2;
    grid-row: 3;
    font-size: 16px;
    align-content: center;
    text-align: left;
}

.create-form #category-label {
    grid-column: 2;
    grid-row: 4;
    font-size: 16px;
    align-content: center;
    text-align: left;
}

.create-form #category-textarea {
    grid-column: 2;
    grid-row: 5;
    font-size: 16px;
    align-content: center;
    text-align: left;
}

.create-form #button {
    grid-column: 2;
    grid-row: 6;
    font-size: 16px;
    align-content: center;
    text-align: center;
}

.question-form {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 7;
    grid-template-columns: 0.5fr 1fr 4fr;
    grid-template-rows: repeat(6, 1fr);
    color: black;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}

.question {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-template-columns: 1fr 2fr;
    color: black;
    border-radius: 10px;
    align-content: center;
    height: 100%;
}

.question #label {
    text-align: right;
    font-weight: bold;
    grid-column: 1;
    font-size:20px;
    align-content: center;
}

.question #textarea {
    grid-column: 2;
}

.choices {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-template-columns: 1fr 1fr 2fr;
    color: black;
    border-radius: 10px;
}

.choices #radio, .choices #label, .choices #textarea {
    align-content: center;
    background-color: white;
    border-radius: 10px;
}

.choices #radio {
    grid-column: 1;
    text-align: right;
}

.choices #label {
    grid-column: 2;
    font-size: 16px;
}

.choices #textarea {
    grid-column: 3;
    text-align: left;
}

.error {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-template-rows: repeat(3, 1fr);
    color: black;
    text-align: center;
}

.error #header {
    grid-row: 1;
    color: #E7400B;
    font-size: 48px;
    font-weight: bold;
    align-content: center;
}

.error #message {
    grid-row: 2;
    font-size: 16px;
    align-content: center;
}

.error #button {
    grid-row: 3;
    align-content: center;
}

.stats-header {
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.game-stats, .quiz-stats {
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
    border-radius: 10px;
}

.game-stats {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-rows: repeat(5, 1fr);
    background-color: #6DD4FA;
}

.quiz-stats {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-template-rows: repeat(4, 1fr);
    background-color: #A2E5B5;
}

.quiz-stats #item, .game-stats #item{
    align-content: center;
    color: black;
}

a {
    color: white;
}

input {
    box-sizing: border-box;
}

input.login-register {
    width: 100%;
    height: 25px;
}

input.login, input.register, input.create-quiz {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
}

input.login[type=submit], input.create-quiz[type=submit] {
    background-color: #45CB6A;
}

input.login[type=submit]:hover, input.login[type=submit]:active, input.create-quiz[type=submit]:hover, input.create-quiz[type=submit]:active {
    background-color: #33B558;
}

input.register[type=submit] {
    background-color: #09B1EE;
}

input.register[type=submit]:hover, input.register[type=submit]:active {
    background-color: #0796CA;
}

input.play, input.reviews, input.answer{
    padding: 10px;
    width: 150px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
}

input.answer {
    font-size: 12px;
}

input.play[type=submit], input.answer[type=submit] {
    background-color: #33BA7B;
}

input.play[type=submit]:hover, input.play[type=submit]:active, input.answer[type=submit]:hover, input.answer[type=submit]:active {
    background-color: #2B9E68;
}

input.reviews[type=submit] {
    background-color: #09B1EE;
}

input.reviews[type=submit]:hover, input.reviews[type=submit]:active {
    background-color: #0796CA;
}

input[type=radio] {
    display: flexbox;
}

input.choice {
    background-color: #F7F6F7;
    color: black;
}

input.name, input.category {
    border: #F7F6F7;
    width: 100%;
    height: 75%;
    background-color: #E7E4E7;
    color: black;
    border-radius: 10px;
}

input.question {
    background-color: #F7F6F7;
    width: 300px;
    height: 35px;
    font-size: 16px;
    align-content: center;
    background-color: white;
    border-radius: 5px;
}

input.choice {
    border-color: #F7F6F7;
    font-size: 16px;
    width: 250px;
    height: 35px;
    padding: 0 5px;
    background-color: #F7F6F7;
    border-radius: 5px;
}

input.choice-radio[type=radio] {
    height: 15px;
    width: 15px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a.icons {
    position: relative;
    color: white;
    text-decoration: none;
    text-align: center;
}

a.logout {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

 a.play, a.create, a.profile, a.welcome {
    grid-column: 3;
    padding: 15px;
    width: 250px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
}

a.login, a.register {
    padding: 15px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
}

a.login:link, a.login:visited {
    background-color: #45CB6A;
}

a.login:hover, a.login:active {
    background-color: #33B558;
}

a.register:link, a.register:visited {
    background-color: #09B1EE;
}

a.register:hover, a.register:active {
    background-color: #0796CA;  
}

a.play:link, a.play:visited {
    background-color: #E7400B;
}

a.play:hover, a.play:active {
    background-color: #C43509;
}

a.profile:link, a.profile:visited {
    background-color: #FECB11;
}

a.profile:hover, a.profile:active {
    background-color: #E7B501;
}

a.create:link, a.create:visited {
    background-color: #09B1EE;
}

a.create:hover, a.create:active {
    background-color: #0796CA;
}

a.welcome:link, a.welcome:visited {
    background-color: #E0F7EC;
    color: #33BA7B;
}

a.login-register-link, a.register-login-link {
    width: 200px;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
}

a.login-register-link:link, a.register-login:visited {
    background-color: #09B1EE;
}

a.login-register-link:hover, a.register-login:active {
    background-color: #0796CA;
}

a.register-login-link:link, a.register-login:visited {
    background-color: #45CB6A;
}

a.register-login-link:hover, a.register-login:active {
    background-color: #33B558;
}

a.previous, a.index, a.next, a.quit, input.answer, a.browse, a.review {
    width: 150px;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
}

a.previous:link, a.previous:visited, a.index:link, a.index:visited, a.next:link, a.next:visited, a.browse:link, a.browse:visited, a.review:link, a.review:visited {
    background-color: #302D2F;
}

a.previous:hover, a.previous:active, a.index:hover, a.index:active, a.next:hover, a.next:active , a.browse:hover, a.browse:active, a.review:hover, a.review:active{
    background-color: #F6F6F6;
    color: #201E1F;
}

a.quit:link, a.quit:visited {
    background-color: #E7400B;
}

a.quit:hover, a.quit:active {
    background-color: #C43509;
}


a.bottom {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}