<!DOCTYPE html>
<link rel="stylesheet" href="static/main.css">
<meta name="viewport" content="width=device-width, initial_scale=1">

<head>
    <title> Selaa visoja </title>
</head>

<body>
    <div class="header bar">
        <div id="logo"> <img src="{{url_for('static', filename='tsoha-visa-logo.png')}}"
                alt="Logo, joka koostuu A, B ja C kirjaimista, ja valintamerkistä D-kirjaimen tilalla." height=70px
                width=70px style="float:right"> </div>
        <div id="app-name"> Tsoha-visa </div>
        {% if session.user_id %}
        <div id="logout"> <a id="logout" href="/logout"> Kirjaudu ulos </a></div>
        {% endif %}
    </div>
    <div class="wrapper">
        {% for quiz in quizzes %}
        <div class="section quiz-info">
            <div id="name"> {{ quiz.name }} </div>
            <div id="category"> {{ quiz.category }}</div>
            <div id="played-games"> {{ quiz.games_played }} pelikertaa </div>
            <div id="rating"> {{ quiz.rating }} / 5 </div>
            <div id="play"> 
                <form action="/play/" method="get">
                    <input type="hidden" name="quiz_id" value={{quiz.id}}>
                    <input type="hidden" name="csrf_token" value={{session.csrf_token}}>
                    <input class="play" type="submit" value="Pelaa">
                </form>
            </div>
            <div id="reviews">
                <form action="/play/reviews/" method="get">
                    <input type="hidden" name="quiz_id" value={{quiz.id}}>
                    <input type="hidden" name="csrf_token" value={{session.csrf_token}}>
                    <input class="reviews" type="submit" value="Arvostelut">
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="section nav-button">
            <div id="previous">
                {% if page > 1 %}
                <a class="previous" href={{url_for("browse", page=page-1)}}> Edelliset </a>
                {% endif %}
            </div>
            <div id="index">
                <a class="index" href="/"> Etusivu </a>
            </div>
            <div id="next">
                {% if page == total_pages %}
                <a class="next" href={{url_for("browse", page=page+1)}}> Seuraavat </a>
                {% endif %}
            </div>
        </div>
    </div> 
    <div class="bottom bar">
        <div class="bottom-item"></div>
        <div class="bottom-item">
            <div id="icons"> Käytetyt ikonit </div>
        </div>
        <div class="bottom-item">
            <div id="source"> <a class="bottom" href="https://github.com/jukaveka/tsoha-visa"> Lähdekoodi </a> </div>
        </div>
        <div class="bottom-item">
            <div id="contact"> <a class="bottom" href="mailto:jukaveka@ad.helsinki.fi"> Ota yhteyttä </a> </div>
        </div>
    </div>
</body>