<title> Visailusivusto </title>
<h1> Visailusivusto </h1>
{% if session.user_id %}
<a href="/play">
    <h3> Pelattavat visat </h3>
</a>
<br>
<a href="/new">
    <h3> Luo oma visa </h3>
</a>
<br>
<a href="/profile">
    <h3> Profiili </h3>
</a>
<br>
<a href="/logout"> Kirjaudu ulos </a>
{% else %}
<h3> Et ole kirjautunut sisään </h3>
<p> Jos haluat pelata tai luoda visoja, sinun on ensin luotava tunnus tai kirjauttava sisään</p>
<a href="/login"> Kirjaudu sisään </a> | <a href="/register"> Luo tunnus </a>
{% endif %}