<form action="/create" method="post">
    <h2> Visan luonti </h2>
    <h4> Nimeä visasi </h4>
    <input type="text" name="name">
    <p>
    <h4> Valitse kategoria </h4>
    <input list="categories" id="category" name="category">
    <datalist id="categories">
        <option value="Sports">
        <option value="TV and Movies">
        <option value="Music">
        <option value="Video games">
        <option value="Literature">
        <option value="Politics">
        <option value="Geography">
        <option value="History">
        <option value="Business">
        <option value="Technology">
        <option value="General">
        <option value="Science">
        <option value="Math">
        <option value="Biology">
        <option value="Culinary">
        <option value="Culture">
        <option value="Trivia">
    </datalist>
    </p>
    <input type="hidden" name="csrf_token" value={{session.csrf_token}}>
    <input type="submit" value="Seuraava">
</form>
