<form action="/create" method="post">
    <h2> Visan luonti </h2>
    <h4> Nimeä visasi </h4>
    <input type="text" name="name">
    <p>
    <h4> Valitse kategoria </h4>
    <input list="categories" id="category" name="category">
    <datalist id="categories">
        <option value="Sports">
        <option value="TV and Movies">
        <option value="Music">
        <option value="Video games">
        <option value="Literature">
        <option value="Politics">
        <option value="Geography">
        <option value="History">
        <option value="Business">
        <option value="Technology">
        <option value="General">
        <option value="Science">
        <option value="Math">
        <option value="Biology">
        <option value="Culinary">
        <option value="Culture">
        <option value="Trivia">
    </datalist>
    </p>
    <!--
    <h4> Lisää 1. kysymys </h4>
    <input type="text" name="question1">
    <br>
    <h5> Lisää vastausvaihtoehdot </h5>
    <p> 1. vaihtoehto
        <input type="text" name="option1_1">
    </p>
    <p> 2. vaihtoehto
        <input type="text" name="option2_1">
    </p>
    <p> 3. vaihtoehto
        <input type="text" name="option3_1">
    </p>
    <p> 4. vaihtoehto
        <input type="text" name="option4_1">
    </p>
    <h5> Valitse oikea vastaus kysymykselle </h5>
    <input list="options_1">
    <datalist id="options_1">
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
    </datalist>
    <br><br>
    -->
    <input type="submit" value="Luo visa">
</form>
