<h2> Selaa ja pelaa visoja </h2>
<hr>
{% for quiz in quiz_list %}
<form action="/play/" method="get">
    <p> {{ quiz.name }}</p>
    <p> Kategoria - {{ quiz.category }}</p>
    <p> Luoja - {{ quiz.nickname }}</p>
    <p> Pelattu - {{ quiz.games_played }} kertaa</p>
    <p> Arvostelut - {{ quiz.rating }} / 5 </p>
    <input type="hidden" name="quiz_id" value={{quiz.id}}>
    <input type="submit" value="Pelaa Visa">
</form>
<hr>
{% endfor %}
<a href="/">
    <h4> Takaisin etusivulle </h4>
</a>
<a href="/logout">
    <h4> Kirjaudu ulos </h4>
</a>