<form action="/create/question" method="post">
    <h2> Lisää kysymys </h2>
    <input type="text" name="question">
    <br>
    <h5> Lisää vastausvaihtoehdot </h5>
    <p> 1. vaihtoehto
        <input type="text" name="choice1">
    </p>
    <p> 2. vaihtoehto
        <input type="text" name="choice2">
    </p>
    <p> 3. vaihtoehto
        <input type="text" name="choice3">
    </p>
    <p> 4. vaihtoehto
        <input type="text" name="choice4">
    </p>
    <h5> Valitse oikea vastaus kysymykselle </h5>
    1.
    <input type="radio" name="correct_choice" value="choice1">
    2.
    <input type="radio" name="correct_choice" value="choice2">
    3.
    <input type="radio" name="correct_choice" value="choice3">
    4.
    <input type="radio" name="correct_choice" value="choice4">
    <br><br>
    <input type="submit" value="Lisää kysymys">
    <input type="hidden" name="quiz_id" value={{quiz_id}}>
    <input type="hidden" name="csrf_token" value={{session.csrf_token}}>
</form>