<form action="/create/question" method = "post">
<h2> Lisää kysymys </h2>
<input type="text" name="question">
<br>
<h5> Lisää vastausvaihtoehdot </h5>
<p> 1. vaihtoehto
    <input type="text" name="option1">
</p>
<p> 2. vaihtoehto
    <input type="text" name="option2">
</p>
<p> 3. vaihtoehto
    <input type="text" name="option3">
</p>
<p> 4. vaihtoehto
    <input type="text" name="option4">
</p>
<h5> Valitse oikea vastaus kysymykselle </h5>
1.
<input type="radio" name="option1">
2.
<input type="radio" name="option2">
3.
<input type="radio" name="option3">
4.
<input type="radio" name="option4">
<!--
<input list="options" id="option" name="option">
<datalist id="options">
    <option value="1">
    <option value="2">
    <option value="3">
    <option value="4">
</datalist>
-->
<br><br>
<input type="submit" value="Lisää kysymys">
<!-- <input type="submit" value="Viimeistele visa" -->
</form>