<p> Visa - {{ quiz.name }} </p>
<p> Kategoria - {{ quiz.category }} </p>
<p> Luoja - {{ quiz.nickname }} </p>
<hr>
{% for question in questions %}
<p>{{ question.question }} </p>
<p>
    <input type="radio" name="choices" id={{question.id}} value={{question.choice_1}}> 1. {{ question.choice_1 }}
</p>
<p>
    <input type="radio" name="choices" id={{question.id}} value={{question.choice_2}}> 2. {{ question.choice_2 }}
</p>
<p>
    <input type="radio" name="choices" id={{question.id}} value={{question.choice_3}}> 3. {{ question.choice_3 }}
</p>
<p>
    <input type="radio" name="choices" id={{question.id}} value={{question.choice_4}}> 4. {{ question.choice_4 }}
</p>
<hr>
{% endfor %}
<p>
    <input type="submit" value="Lähetä vastauksesi">
</p>
<p>
    <a href="/">
        Takaisin selaamiseen
    </a>
</p>
<p>
    <a href="/">
        Takaisin etusivulle
    </a>
</p>
<p>
    <a href="/logout">
        Kirjaudu ulos
    </a>
</p>