<!DOCTYPE html>
<link rel="stylesheet" href="../static/main.css">
<meta name="viewport" content="width=device-width, initial_scale=1">

<head>
    <title> Visa </title>
</head>

<body>
    <div class="header bar">
        <div id="logo"> <img src="{{url_for('static', filename='tsoha-visa-logo.png')}}"
                alt="Logo, joka koostuu A, B ja C kirjaimista, ja valintamerkistä D-kirjaimen tilalla." height=70px
                width=70px style="float:right"> </div>
        <div id="app-name"> Tsoha-visa </div>
        {% if session.user_id %}
        <div id="logout"> <a id="logout" href="/logout"> Kirjaudu ulos </a></div>
        {% endif %}
    </div>
    <div class="wrapper">
        <form class="section quiz" method="post">
            <div id="question"> {{ question.question }} </div>
            {% for choice in choices %}
            <div id="choice">
                <div class="section choice">
                    <div id="button">
                        <input class="choice-radio-button" type="radio" name="choice" value={{choice.id}}>
                    </div>
                    <div id="text">
                        <label for="choice"> {{ choice.choice }} </label>
                    </div>
                </div>
            </div>
            {% endfor %}
            <input type="hidden" name="quiz_id" value={{quiz.id}}>
            <input type="hidden" name="question_id" value={{question.id}}>
            <input type="hidden" name="csrf_token" value={{session.csrf_token}}>
            <div id="answer">
                <input class="answer" type="submit" value="Vastaa">
            </div>
            <div id="quit">
                <a class="quit" href={{url_for("quit")}}> Lopeta </a>
            </div>
        </form>
    </div>
    <div class="bottom bar">
        <div class="bottom-item"></div>
        <div class="bottom-item">
            <div id="icons"> <a href="https://www.flaticon.com/free-icons/quiz" title="quiz icons">Quiz icons created by Good Ware - Flaticon</a> </div>
        </div>
        <div class="bottom-item">
            <div id="icons"> <a href="https://www.flaticon.com/free-icons/alphabet" title="alphabet icons">Alphabet icons created by Freepik - Flaticon</a> </div>
        </div>
        <div class="bottom-item">
            <div id="icons"> <a href="https://www.flaticon.com/free-icons/letter-b" title="letter b icons">Letter b icons created by Hight Quality Icons - Flaticon</a> </div>
        </div>
        <div class="bottom-item">
            <div id="icons"> <a href="https://www.flaticon.com/free-icons/letter-c" title="letter c icons">Letter c icons created by IYAHICON - Flaticon</a> </div>
        </div>
        <div class="bottom-item">
            <div id="source"> <a class="bottom" href="https://github.com/jukaveka/tsoha-visa"> Lähdekoodi </a> </div>
        </div>
        <div class="bottom-item">
            <div id="contact"> <a class="bottom" href="mailto:jukaveka@ad.helsinki.fi"> Ota yhteyttä </a> </div>
        </div>
    </div>
</body>