<!DOCTYPE html>
<link rel="stylesheet" href="../static/main.css">
<meta name="viewport" content="width=device-width, initial_scale=1">

<head>
    <title> Jätä arvostelu </title>
</head>

<body>
    <div class="header bar">
        <div id="logo"> <img src="{{url_for('static', filename='tsoha-visa-logo.png')}}"
                alt="Logo, joka koostuu A, B ja C kirjaimista, ja valintamerkistä D-kirjaimen tilalla." height=70px
                width=70px style="float:right"> </div>
        <div id="app-name"> Tsoha-visa </div>
        {% if session.user_id %}
        <div id="logout"> <a id="logout" href="/logout"> Kirjaudu ulos </a></div>
        {% endif %}
    </div>
    <div class="wrapper">
        <div class="section review-form">
            <form action="/review" method="post">
                <p> Arvostele visa </p>
                <input type="range" name="grade" min=1 max=5>
                <p> Jätä kommentti visasta</p>
                <textarea name="comment" rows=5 cols=50></textarea>
                <input type="hidden" name="csrf_token" value={{session.csrf_token}}>
                <p><input type="submit" value="Lähetä arvostelu"></p>
            </form>
        </div>
    </div>
    <div class="bottom bar">
        <div class="bottom-item"></div>
        <div class="bottom-item">
            <div id="icons"> Käytetyt ikonit </div>
        </div>
        <div class="bottom-item">
            <div id="source"> <a class="bottom" href="https://github.com/jukaveka/tsoha-visa"> Lähdekoodi </a> </div>
        </div>
        <div class="bottom-item">
            <div id="contact"> <a class="bottom" href="mailto:jukaveka@ad.helsinki.fi"> Ota yhteyttä </a> </div>
        </div>
    </div>
</body>